WAL-DW-prod/pipeline/Temp_Oauth_Test_1.json
{
	"name": "Temp_Oauth_Test_1",
	"properties": {
		"activities": [
			{
				"name": "Get_BC_Access_Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get_Oauth_Service_Configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('Get_Oauth_Service_Configuration').output.firstRow.ServiceURL",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-type": {
							"value": "@activity('Get_Oauth_Service_Configuration').output.firstRow.ContentType",
							"type": "Expression"
						}
					},
					"body": {
						"value": "grant_type=@{activity('Get_Oauth_Service_Configuration').output.firstRow.GrantType}\n&client_id=@{activity('Get_Oauth_Service_Configuration').output.firstRow.ClientID}\n&client_secret=@{activity('Get_Oauth_Service_Configuration').output.firstRow.ClientSecret}\n&scope=@{activity('Get_Oauth_Service_Configuration').output.firstRow.Scope}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get_Access_Token_DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://api.businesscentral.dynamics.com/v2.0/ac636b3d-2eb0-41e7-b5a6-7e15645731e9/SandboxDev/WS/Future%20Beauty%20Labs%20US%20Inc/Page/Item_Card",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "Bearer @{activity('Get_Access_Token_DB').output.firstRow.AccessToken}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get_Oauth_Service_Configuration",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[Get_Oauth_Service_Configuration]",
						"storedProcedureParameters": {
							"ServiceCode": {
								"type": "String",
								"value": "GetOauthConfig"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Tab_DW_Oauth_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Update_Oauth_Access_Token_DB",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get_BC_Access_Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Update_Oauth_Access_Token]",
					"storedProcedureParameters": {
						"AccessToken": {
							"value": {
								"value": "@activity('Get_BC_Access_Token').output.access_token",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DwWalProd",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get_Access_Token_DB",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Update_Oauth_Access_Token_DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM DW_Oauth_Access_Token",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Tab_DW_Oauth_Access_Token",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "Temp"
		},
		"annotations": []
	}
}